@model PutNet.Web.Identity.Models.UserViewModel

@{
    ViewData["Title"] = "User info";
}

<div class="user-info">
    <label asp-for="UserName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="UserName" class="form-control" readonly="readonly"/>
    </div>
</div>

<div class="user-info">
    <label asp-for="Email" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Email" class="form-control" readonly="readonly"/>
    </div>
</div>

<div class="user-info">
    <label asp-for="FirstName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="FirstName" class="form-control" readonly="readonly"/>
    </div>
</div>

<div class="user-info">
    <label asp-for="LastName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="LastName" class="form-control" readonly="readonly"/>
    </div>
</div>